<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE6">
	<title>404 - gov.uk Publisher</title>
	<link href="<%= @asset_host %>/stylesheets/admin/jquery-ui-1.8.14.css" rel="stylesheet" type="text/css">
	<link href="<%= @asset_host %>/stylesheets/normalize.css" rel="stylesheet" type="text/css">
	<link href="<%= @asset_host %>/stylesheets/core.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>

  <header role="banner" class="group"><div class="inner">
      <div class="header-global">
        <h1><a href="/" title="return to the www.gov.uk homepage">www.gov.uk</a></h1>
				<nav role="navigation"><ul>
<li><a href="#">Government Departments</a></li>

						<li><a href="#">Business</a></li>
					</ul></nav>
</div>
		</div>
<!-- end inner -->
		<div class="header-context citizen group">
			<div class="inner">
				<nav role="navigation"><ol>
<li class="current-context"><a href="/">Citizens home</a></li>
					</ol></nav>
</div>
<!-- end inner -->

			<div class="search-help">
				<form class="site-search" action="/" method="get" role="search">
				  <fieldset>
<legend class="visuallyhidden">Site search for Gov.uk</legend>
	   				<label for="s">

	 						<span>Search</span>
	 					</label>
						<input type="search" name="s" id="s" title="Search" placeholder="Search for..."><input type="submit" value="Go">
</fieldset>
</form>
				<div class="global-help">
					<a href="help">Get help using this website</a>
				</div>
			</div>

    </div>
<!-- end header-context -->
  </header><!--end header-->

<div id="wrapper" class="wrapper">

    <div class="content" role="main">
			<section class="group" role="main"><div id="homepage-search" class="location-not-set">
				<header><h1>We seem to be having a problem.</h1>
				</header>
				<p>We&rsquo;re sorry but something seems to be not right with our site.</p></p>

        <p>We will automatically get a note telling us that there is a problem and we will set about fixing it straight away.</p>
		</div>


</div>
  </div>
<!--end wrapper-->


<footer class="group" id="footer"><div class="inner" role="contentinfo">
			<div class="subsection copyright">
      	<p>© 2011 Crown Copyright</p>
      	<p id="reuse-license">
        Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a>
      	</p>

      	<p id="cookie-declaration">This site uses cookies. We have published <a href="/cookies">a list and further information</a>.</p>
			</div>
			<div class="subsection project">
				<ul>
          <li><a href="https://sites.google.com/a/digital.cabinet-office.gov.uk/citizen-beta/">Send us your feedback</a></li>
				</ul>
      </div>
			<div class="subsection depts">
				<ul>
<li><a href="#">Citizens home</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Government Departments</a></li>
				</ul>

</div>
    </div>
  </footer><!--end footer-->
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26179049-1']);
    _gaq.push(['_setDomainName', 'alphagov.co.uk']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
