<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>alpha.gov.uk</title>
    <link href="http://assets0.alpha.gov.uk/stylesheets/core.css" rel="stylesheet" type="text/css" />
    <link href="http://assets0.alpha.gov.uk/stylesheets/fail.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="container">
      <div id="page-container">
        <div id="content" class="fail-content article-text text-content">
          <h3 id="its-all-gone-wrong">It's all gone wrong, we're doing our best</h3>
          <h1>Sorry for the inconvenience and <br>thanks for your interest in alpha.gov.uk</h1>
          <div class="one-third-col">
            <p>Due to the level of interest, we are experiencing some problems as an unexpected number of people are trying to access our site.</p>
          </div>
          <div class="one-third-col">
            <p>We're currently working to fix the situation. In the meantime, the site will remain unavailable. We recommend you try again in 10 minutes.</p>
          </div>
          <div class="one-third-col" id="this-stuff">
            <h3>This stuff should still work</h3>
            <ul>
              <li><a href="http://www.twitter.com/alphagov">@alphagov on Twitter</a></li>
              <li><a href="http://blog.alpha.gov.uk">blog.alpha.gov.uk</a></li>
            </ul>
          </div>
        </div><!-- end fail-content -->
        <div id="fail-footer">
          <p>&copy; 2011 Crown Copyright</p>
          <p id="reuse-license">
            Much of the information on this website is available for reuse under the
            <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>
          </p>
          <p id="credit">Illustration by <a href="http://www.mattblease.com/">Matt Blease</a>.</p>
        </div>

      </div>

    </div>
  </body>
</html>