<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gem layout</title>
  </head>
  <body class="gem-c-layout-for-public govuk-template__body">
    <header class="gem-c-layout-header govuk-header" role="banner" data-module="govuk-header">
      <p>This is the header</p>
    </header>

    <div id="wrapper">
      <main class="govuk-main-wrapper" id="content">
        <p>Lalalala, content.</p>
      </main>
    </div>

    <footer class="gem-c-layout-footer govuk-footer" role="contentinfo">
      <p>Some more information in the footer.</p>
    </footer>
  </body>
</html>
