<%# Whilst they are both in use, this and the test copy in slimmer should be kept in sync %>
<% if artefact and artefact.related_artefacts.any? %>

<!-- related -->
<div class="related-positioning">
  <div class="related-container">

    <div class="related" id="related">
      <div class="inner group">
        <h2>Other relevant links</h2>
        <nav role="navigation">
          <ul>
            <% artefact.related_artefacts.each do |item| %>
              <li>
                <a href="<%= h item.web_url %>"><%= h item.title %></a>
              </li>
            <% end %>
            <% if root_section = artefact.primary_root_section %>
              <li class="related-topic"><a href="<%= h root_section["content_with_tag"]["web_url"] %>"
                >More from the <span><%= h root_section["title"] %></span> category</a></li>
            <% end %>
          </ul>
        </nav>
        <nav role="navigation" class="return-to-top">
          <a href="#content">Return to top &uarr;</a>
        </nav>
     </div>
   </div>

  </div>
</div>
<!-- end related -->
<% end %>
