<!DOCTYPE html>
<html>
  <head>
    <title>Slimmer, yay!</title>
    <script id="ga-params" type="text/javascript">
      var GOVUK = GOVUK || {};
      GOVUK.Analytics = GOVUK.Analytics || {};
      var _gaq = _gaq || [];
    </script>
  </head>
  <body>
    <header id="global-header"><h1>I AM A TITLE</h1></header>

    <div id="global-navigation" class="header-context">
      <nav role="navigation"><ol><li>MySite</li></ol></nav>
    </div>

    <div id="wrapper" class="group">
    </div>

    <footer id="footer">
    </footer>
  </body>
</html>
