<!DOCTYPE html>
<html>
  <head>
    <title>Slimmer, yay!</title>
  </head>
  <body>
    <div class="content">
      <header><h1>I AM A TITLE</h1></header>
      <div class="header-context">
        <nav role="navigation"><ol><li>MySite</li></ol></nav>
      </div>
      <div id="wrapper" class="group">
      </div>
    </div>
  </body>
</html>
