<!DOCTYPE html>
<html>
  <head>
    <title>Slimmer, yay!</title>
  </head>
  <body>
    <div class="content">
      <header><h1>I AM A TITLE</h1></header>
      <div class="header-context">
        <nav role="navigation"><ol><li>MySite</li></ol></nav>
      </div>
      <div id="wrapper" class="group">
      </div>
    </div>

    <script id="ga-params" type="text/javascript">
      var GOVUK = GOVUK || {};
      GOVUK.Analytics = GOVUK.Analytics || {};
      var _gaq = _gaq || [];
    </script>
  </body>
</html>
